<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio | DevOps Engineer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</head>
<body>

<nav>
    <h2>Maqbool Subair.</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>© 2026 Maqbool A S</p>
</footer>

</body>
</html>
